{% extends "base.html" %}

{% block content %}
<h1>Добавление рейса</h1>
<form action="" method="post">
    {{ form.hidden_tag() }}
    <p>
        {{ form.city1.label }}<br>
        {{ form.city1(class="form-control") }}<br>
        {% for error in form.city1.errors %}
    <p class="alert alert-danger" role="alert">
        {{ error }}
    </p>
    {% endfor %}
    </p>
    <p>
        {{ form.city2.label }}<br>
        {{ form.city2(class="form-control") }}<br>
        {% for error in form.city2.errors %}
    <p content="alert alert-danger" role="alert">
        {{ error }}
    </p>
    {% endfor %}
    </p>
    <p>
        {{ form.date.label }}<br>
        {{ form.date(class="form-control") }}<br>
        {% for error in form.date.errors %}
    <p class="alert alert-danger" role="alert">
        {{ error }}
    </p>
    {% endfor %}
    </p>
    <p>
        {{ form.time.label }}<br>
        {{ form.time(class="form-control") }}<br>
        {% for error in form.time.errors %}
    <p class="alert alert-danger" role="alert">
        {{ error }}
    </p>
    {% endfor %}
    </p>
    <p>
        {{ form.plane.label }}<br>
        {{ form.plane(class="form-control") }}<br>
        {% for error in form.plane.errors %}
    <p class="alert alert-danger" role="alert">
        {{ error }}
    </p>
    {% endfor %}
    </p>
    <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
    {{message}}
</form>
{% endblock %}